//# fashion warn -elevation

// Variables
// --------------------------
$icon54-font-family: 'Icon54';
$icon54-font-css-prefix: 'i54';
$icon54-font-path:        "../fonts" !default;
$icon54-font-size-base:   14px !default;
$icon54-line-height-base: 1 !default;
//$icon54-font-path:        "//some.font.url/fonts" !default; // for referencing Bootstrap CDN font files directly
$icon54-css-prefix:       $icon54-font-css-prefix !default;
$icon54-font-version:          "1.0.0" !default;
$icon54-border-color:     #eee !default;
$icon54-font-inverse:          #fff !default;
$icon54-font-li-width:         (30em / 14) !default;


/*
here go vars with font codes;
note: if u use icomoon.com generated fonts then you will find then in style css.
basically they can be used in the _icons.scss instead of providing font codes directly
this way you can declare aliases using same font code var
*/
$icon54-var-israel: "\e900";
$icon54-var-year-aniversary-23: "\e901";
$icon54-var-year-aniversary3: "\e902";
$icon54-var-st-place: "\e903";
$icon54-var-nd-place: "\e904";
$icon54-var-rd-place: "\e905";
$icon54-var-stars: "\e906";
$icon54-var-year-aniversary-2: "\e907";
$icon54-var-year-aniversary: "\e908";
$icon54-var-year-aniversary-22: "\e909";
$icon54-var-year-aniversary2: "\e90a";
$icon54-var-accessibility: "\e90b";
$icon54-var-acorn: "\e90c";
$icon54-var-add-app: "\e90d";
$icon54-var-add-award-badge: "\e90e";
$icon54-var-add-heart: "\e90f";
$icon54-var-add-rating: "\e910";
$icon54-var-addon: "\e911";
$icon54-var-air-balloon: "\e912";
$icon54-var-air-condition: "\e913";
$icon54-var-airplane: "\e914";
$icon54-var-airport: "\e915";
$icon54-var-allert-app: "\e916";
$icon54-var-allow-copying: "\e917";
$icon54-var-allow-redistribution: "\e918";
$icon54-var-almond: "\e919";
$icon54-var-analitics: "\e91a";
$icon54-var-ananas: "\e91b";
$icon54-var-anchor: "\e91c";
$icon54-var-angle-ruler: "\e91d";
$icon54-var-app-1: "\e91e";
$icon54-var-app-2: "\e91f";
$icon54-var-app-error: "\e920";
$icon54-var-app-settings: "\e921";
$icon54-var-app-tile-task: "\e922";
$icon54-var-app-window: "\e923";
$icon54-var-apple: "\e924";
$icon54-var-application-user: "\e925";
$icon54-var-application: "\e926";
$icon54-var-arc-de-triomphe: "\e927";
$icon54-var-architecture: "\e928";
$icon54-var-arrived: "\e929";
$icon54-var-arriving: "\e92a";
$icon54-var-artichoke: "\e92b";
$icon54-var-asparagus: "\e92c";
$icon54-var-attach-app: "\e92d";
$icon54-var-attention: "\e92e";
$icon54-var-avocado: "\e92f";
$icon54-var-award-1: "\e930";
$icon54-var-award-2: "\e931";
$icon54-var-award-badge-shopping: "\e932";
$icon54-var-award-stamp-2: "\e933";
$icon54-var-award-stamp: "\e934";
$icon54-var-axe: "\e935";
$icon54-var-badge-star: "\e936";
$icon54-var-bag-conveyer: "\e937";
$icon54-var-bag-weight: "\e938";
$icon54-var-bag: "\e939";
$icon54-var-bakelite: "\e93a";
$icon54-var-ball: "\e93b";
$icon54-var-banana: "\e93c";
$icon54-var-bank-1: "\e93d";
$icon54-var-bank-2: "\e93e";
$icon54-var-barber-shop: "\e93f";
$icon54-var-barbers-razor: "\e940";
$icon54-var-barcode-app: "\e941";
$icon54-var-barn: "\e942";
$icon54-var-barrow: "\e943";
$icon54-var-basketball-cup: "\e944";
$icon54-var-beard-1: "\e945";
$icon54-var-beard-2: "\e946";
$icon54-var-beard-3: "\e947";
$icon54-var-beard-4: "\e948";
$icon54-var-berlin-tv-tower: "\e949";
$icon54-var-bicycle-1: "\e94a";
$icon54-var-bicycle-2: "\e94b";
$icon54-var-big-ben: "\e94c";
$icon54-var-binar-code-2: "\e94d";
$icon54-var-binar-code: "\e94e";
$icon54-var-bishop-1: "\e94f";
$icon54-var-bishop-2: "\e950";
$icon54-var-bitcoin-app: "\e951";
$icon54-var-blueberries: "\e952";
$icon54-var-bologna: "\e953";
$icon54-var-booklet-female-1: "\e954";
$icon54-var-booklet-female-2: "\e955";
$icon54-var-booklet-male-1: "\e956";
$icon54-var-booklet-male-2: "\e957";
$icon54-var-bookmark-app: "\e958";
$icon54-var-bow-1: "\e959";
$icon54-var-bow-2: "\e95a";
$icon54-var-brick: "\e95b";
$icon54-var-bridge-1: "\e95c";
$icon54-var-bridge-2: "\e95d";
$icon54-var-broccoli: "\e95e";
$icon54-var-bucket: "\e95f";
$icon54-var-bug-fix: "\e960";
$icon54-var-bug: "\e961";
$icon54-var-bulldozer: "\e962";
$icon54-var-burj-khalifa-dubai: "\e963";
$icon54-var-bus-station: "\e964";
$icon54-var-c-plus-plus-1: "\e965";
$icon54-var-c-plus-plus-2: "\e966";
$icon54-var-cabbage: "\e967";
$icon54-var-calippers: "\e968";
$icon54-var-camera: "\e969";
$icon54-var-caravan: "\e96a";
$icon54-var-carrot: "\e96b";
$icon54-var-cashew: "\e96c";
$icon54-var-castle: "\e96d";
$icon54-var-castte: "\e96e";
$icon54-var-cement-trovel: "\e96f";
$icon54-var-cemetery: "\e970";
$icon54-var-central-television-beijing: "\e971";
$icon54-var-chain-sawe: "\e972";
$icon54-var-chat-app: "\e973";
$icon54-var-cherry-tomato: "\e974";
$icon54-var-cherry: "\e975";
$icon54-var-chess-board: "\e976";
$icon54-var-chess-clock: "\e977";
$icon54-var-chili: "\e978";
$icon54-var-chinese-lettuce: "\e979";
$icon54-var-church-1: "\e97a";
$icon54-var-church-2: "\e97b";
$icon54-var-circle-star: "\e97c";
$icon54-var-clean-code: "\e97d";
$icon54-var-clear-rating: "\e97e";
$icon54-var-clipboard: "\e97f";
$icon54-var-cloud-app: "\e980";
$icon54-var-clove: "\e981";
$icon54-var-cocktail: "\e982";
$icon54-var-cocoa-pod: "\e983";
$icon54-var-coconut: "\e984";
$icon54-var-code-1: "\e985";
$icon54-var-code-2: "\e986";
$icon54-var-code-doc: "\e987";
$icon54-var-colosseum: "\e988";
$icon54-var-comb-1: "\e989";
$icon54-var-comb-2: "\e98a";
$icon54-var-compass: "\e98b";
$icon54-var-computer-app: "\e98c";
$icon54-var-computer-user: "\e98d";
$icon54-var-connecting-users: "\e98e";
$icon54-var-content-view: "\e98f";
$icon54-var-cop-badge: "\e990";
$icon54-var-copyright-app: "\e991";
$icon54-var-copyright-doc: "\e992";
$icon54-var-copyright: "\e993";
$icon54-var-crain-hook: "\e994";
$icon54-var-crain: "\e995";
$icon54-var-creative-commun-doc: "\e996";
$icon54-var-creative-commun: "\e997";
$icon54-var-css-2: "\e998";
$icon54-var-css-3: "\e999";
$icon54-var-css1: "\e99a";
$icon54-var-cup-2: "\e99b";
$icon54-var-cup-3: "\e99c";
$icon54-var-cut: "\e99d";
$icon54-var-cutlery: "\e99e";
$icon54-var-cutter: "\e99f";
$icon54-var-database: "\e9a0";
$icon54-var-deer: "\e9a1";
$icon54-var-departed: "\e9a2";
$icon54-var-departing: "\e9a3";
$icon54-var-detail-view: "\e9a4";
$icon54-var-detailes-pane: "\e9a5";
$icon54-var-diploma: "\e9a6";
$icon54-var-disabled-man: "\e9a7";
$icon54-var-disc-cutter: "\e9a8";
$icon54-var-discount-sticker: "\e9a9";
$icon54-var-dislike: "\e9aa";
$icon54-var-dismiss-app: "\e9ab";
$icon54-var-dismiss-award-badge: "\e9ac";
$icon54-var-dismiss-heart: "\e9ad";
$icon54-var-dismiss-rating: "\e9ae";
$icon54-var-diving-goggles: "\e9af";
$icon54-var-dog-tag: "\e9b0";
$icon54-var-dollar-app: "\e9b1";
$icon54-var-done-app: "\e9b2";
$icon54-var-done-award-badge: "\e9b3";
$icon54-var-done-heart: "\e9b4";
$icon54-var-done-rating: "\e9b5";
$icon54-var-door: "\e9b6";
$icon54-var-download-app: "\e9b7";
$icon54-var-download: "\e9b8";
$icon54-var-drag-and-drop: "\e9b9";
$icon54-var-drilling-machine-2: "\e9ba";
$icon54-var-drilling-machine: "\e9bb";
$icon54-var-drive-app: "\e9bc";
$icon54-var-driver-licence-female: "\e9bd";
$icon54-var-driver-license-male: "\e9be";
$icon54-var-dropbox-app: "\e9bf";
$icon54-var-dubai: "\e9c0";
$icon54-var-durian: "\e9c1";
$icon54-var-earth-map: "\e9c2";
$icon54-var-easter-island: "\e9c3";
$icon54-var-eat-heart: "\e9c4";
$icon54-var-eating-award-badge: "\e9c5";
$icon54-var-edit-app: "\e9c6";
$icon54-var-eggplant: "\e9c7";
$icon54-var-egypt-pyramid: "\e9c8";
$icon54-var-eiffel-tower: "\e9c9";
$icon54-var-elevator: "\e9ca";
$icon54-var-email-app-1: "\e9cb";
$icon54-var-email-app-2: "\e9cc";
$icon54-var-empire-state-building: "\e9cd";
$icon54-var-empty-star: "\e9ce";
$icon54-var-equalizer: "\e9cf";
$icon54-var-escalator-down: "\e9d0";
$icon54-var-escalator-up: "\e9d1";
$icon54-var-euro-app: "\e9d2";
$icon54-var-exhibition: "\e9d3";
$icon54-var-exit-full-screen: "\e9d4";
$icon54-var-exit: "\e9d5";
$icon54-var-factory: "\e9d6";
$icon54-var-favorite-app-1: "\e9d7";
$icon54-var-favorite-app: "\e9d8";
$icon54-var-favorite-restaurant: "\e9d9";
$icon54-var-female-circle-1: "\e9da";
$icon54-var-female-circle-2: "\e9db";
$icon54-var-female-group-1: "\e9dc";
$icon54-var-female-group-2: "\e9dd";
$icon54-var-fennel: "\e9de";
$icon54-var-ferris-wheel: "\e9df";
$icon54-var-figs: "\e9e0";
$icon54-var-fire-station: "\e9e1";
$icon54-var-firewall: "\e9e2";
$icon54-var-first-ad: "\e9e3";
$icon54-var-flashlight: "\e9e4";
$icon54-var-flippers: "\e9e5";
$icon54-var-flow-chart-4: "\e9e6";
$icon54-var-flow-chat-1: "\e9e7";
$icon54-var-flow-chat-2: "\e9e8";
$icon54-var-folder-female: "\e9e9";
$icon54-var-folder-male: "\e9ea";
$icon54-var-footer: "\e9eb";
$icon54-var-fork-lift: "\e9ec";
$icon54-var-fountain: "\e9ed";
$icon54-var-fow-chat-3: "\e9ee";
$icon54-var-fragile: "\e9ef";
$icon54-var-free-sticker: "\e9f0";
$icon54-var-fuel-station: "\e9f1";
$icon54-var-full-screen: "\e9f2";
$icon54-var-full-star: "\e9f3";
$icon54-var-gallery-app: "\e9f4";
$icon54-var-gallery-view: "\e9f5";
$icon54-var-game-app: "\e9f6";
$icon54-var-garlic: "\e9f7";
$icon54-var-ginger: "\e9f8";
$icon54-var-glasses-1: "\e9f9";
$icon54-var-glasses-2: "\e9fa";
$icon54-var-glasses-3: "\e9fb";
$icon54-var-glasses-4: "\e9fc";
$icon54-var-glasses-5: "\e9fd";
$icon54-var-global-award-badge: "\e9fe";
$icon54-var-global-heart: "\e9ff";
$icon54-var-global-rating: "\ea00";
$icon54-var-global-user: "\ea01";
$icon54-var-global: "\ea02";
$icon54-var-golden-gate-bridge: "\ea03";
$icon54-var-golden-globe: "\ea04";
$icon54-var-grain: "\ea05";
$icon54-var-grape: "\ea06";
$icon54-var-great-wall: "\ea07";
$icon54-var-grid-1: "\ea08";
$icon54-var-grid-2: "\ea09";
$icon54-var-group-1: "\ea0a";
$icon54-var-group-2: "\ea0b";
$icon54-var-group-defense: "\ea0c";
$icon54-var-group-download: "\ea0d";
$icon54-var-group-shopping: "\ea0e";
$icon54-var-group-statistics: "\ea0f";
$icon54-var-group-upload: "\ea10";
$icon54-var-hair-band: "\ea11";
$icon54-var-half-star: "\ea12";
$icon54-var-hammer: "\ea13";
$icon54-var-hand-washing: "\ea14";
$icon54-var-hanger: "\ea15";
$icon54-var-haricot: "\ea16";
$icon54-var-hat-1: "\ea17";
$icon54-var-hat-2: "\ea18";
$icon54-var-hat-3: "\ea19";
$icon54-var-hat-4: "\ea1a";
$icon54-var-hat-portrait-frame: "\ea1b";
$icon54-var-hazelnut: "\ea1c";
$icon54-var-header: "\ea1d";
$icon54-var-headset: "\ea1e";
$icon54-var-heart-flag: "\ea1f";
$icon54-var-heart-full: "\ea20";
$icon54-var-heart-half: "\ea21";
$icon54-var-heart-shopping: "\ea22";
$icon54-var-heart-waiting: "\ea23";
$icon54-var-hearts-empty: "\ea24";
$icon54-var-heavy: "\ea25";
$icon54-var-helmet: "\ea26";
$icon54-var-high-voltage: "\ea27";
$icon54-var-hoist: "\ea28";
$icon54-var-hoist2: "\ea29";
$icon54-var-hold-heart: "\ea2a";
$icon54-var-hold-male: "\ea2b";
$icon54-var-hold-star: "\ea2c";
$icon54-var-home-app: "\ea2d";
$icon54-var-home: "\ea2e";
$icon54-var-honeymelon: "\ea2f";
$icon54-var-hospital: "\ea30";
$icon54-var-hot-drink: "\ea31";
$icon54-var-hot-sticker: "\ea32";
$icon54-var-hotel-1: "\ea33";
$icon54-var-hotel-2: "\ea34";
$icon54-var-hotel-3: "\ea35";
$icon54-var-hotel-4: "\ea36";
$icon54-var-house-1: "\ea37";
$icon54-var-house-2: "\ea38";
$icon54-var-house-3: "\ea39";
$icon54-var-house-4: "\ea3a";
$icon54-var-house-5: "\ea3b";
$icon54-var-house-6: "\ea3c";
$icon54-var-house-7: "\ea3d";
$icon54-var-house-8: "\ea3e";
$icon54-var-house-9: "\ea3f";
$icon54-var-html-1: "\ea40";
$icon54-var-html-2: "\ea41";
$icon54-var-html-5: "\ea42";
$icon54-var-http-1: "\ea43";
$icon54-var-http-2: "\ea44";
$icon54-var-id-female: "\ea45";
$icon54-var-id-male: "\ea46";
$icon54-var-id-photo: "\ea47";
$icon54-var-information-booklet: "\ea48";
$icon54-var-information: "\ea49";
$icon54-var-ironing-1: "\ea4a";
$icon54-var-ironing-2: "\ea4b";
$icon54-var-jack-hammer: "\ea4c";
$icon54-var-java-1: "\ea4d";
$icon54-var-java-2: "\ea4e";
$icon54-var-java-script: "\ea4f";
$icon54-var-jet-ski: "\ea50";
$icon54-var-jsx-1: "\ea51";
$icon54-var-jsx-2: "\ea52";
$icon54-var-kenu: "\ea53";
$icon54-var-kilimanjaro: "\ea54";
$icon54-var-king-1: "\ea55";
$icon54-var-king-2: "\ea56";
$icon54-var-kiwi: "\ea57";
$icon54-var-knight-1: "\ea58";
$icon54-var-knight-2: "\ea59";
$icon54-var-ladder: "\ea5a";
$icon54-var-ladies-bag: "\ea5b";
$icon54-var-large-icons-view: "\ea5c";
$icon54-var-left-items: "\ea5d";
$icon54-var-left-sidebar: "\ea5e";
$icon54-var-lemon-1: "\ea5f";
$icon54-var-lemon-2: "\ea60";
$icon54-var-letter: "\ea61";
$icon54-var-lettuce: "\ea62";
$icon54-var-life-jacket: "\ea63";
$icon54-var-lighthouse: "\ea64";
$icon54-var-like: "\ea65";
$icon54-var-lips: "\ea66";
$icon54-var-list-view: "\ea67";
$icon54-var-load-app: "\ea68";
$icon54-var-lock-app-2: "\ea69";
$icon54-var-lock-app: "\ea6a";
$icon54-var-lock-award-badge: "\ea6b";
$icon54-var-lock-group: "\ea6c";
$icon54-var-lock-heart: "\ea6d";
$icon54-var-lock-rating: "\ea6e";
$icon54-var-lollipop-1: "\ea6f";
$icon54-var-lollipop-2: "\ea70";
$icon54-var-luggage-keeping: "\ea71";
$icon54-var-luggage-weight: "\ea72";
$icon54-var-machu-picchu: "\ea73";
$icon54-var-mail-app: "\ea74";
$icon54-var-maize: "\ea75";
$icon54-var-male-and-female-1: "\ea76";
$icon54-var-male-and-female-2: "\ea77";
$icon54-var-male-circle-1: "\ea78";
$icon54-var-male-circle-2: "\ea79";
$icon54-var-male-group-1: "\ea7a";
$icon54-var-male-group-2: "\ea7b";
$icon54-var-man-with-briefcase: "\ea7c";
$icon54-var-man: "\ea7d";
$icon54-var-mango: "\ea7e";
$icon54-var-map: "\ea7f";
$icon54-var-mark-bubble-1: "\ea80";
$icon54-var-mark-bubble-2: "\ea81";
$icon54-var-mark-bubble-3: "\ea82";
$icon54-var-mark-group: "\ea83";
$icon54-var-maximize: "\ea84";
$icon54-var-medal-1: "\ea85";
$icon54-var-medal-2: "\ea86";
$icon54-var-medal-3: "\ea87";
$icon54-var-medal-4: "\ea88";
$icon54-var-medal-5: "\ea89";
$icon54-var-medium-icons-view: "\ea8a";
$icon54-var-melon: "\ea8b";
$icon54-var-military-award-1: "\ea8c";
$icon54-var-military-award-2: "\ea8d";
$icon54-var-military-award-3: "\ea8e";
$icon54-var-military-award-4: "\ea8f";
$icon54-var-militay-shield: "\ea90";
$icon54-var-minimize-2: "\ea91";
$icon54-var-minimize: "\ea92";
$icon54-var-mosque: "\ea93";
$icon54-var-mountains: "\ea94";
$icon54-var-mouse-app: "\ea95";
$icon54-var-mouve-piece: "\ea96";
$icon54-var-multy-task-2: "\ea97";
$icon54-var-multy-task: "\ea98";
$icon54-var-museum: "\ea99";
$icon54-var-mushroom-1: "\ea9a";
$icon54-var-mushroom-2: "\ea9b";
$icon54-var-music-app: "\ea9c";
$icon54-var-mustache-1: "\ea9d";
$icon54-var-mysql-1: "\ea9e";
$icon54-var-mysql-2: "\ea9f";
$icon54-var-mysql-database: "\eaa0";
$icon54-var-name-plate-female-1: "\eaa1";
$icon54-var-name-plate-female-2: "\eaa2";
$icon54-var-name-plate-female-3: "\eaa3";
$icon54-var-name-plate-male-1: "\eaa4";
$icon54-var-name-plate-male-2: "\eaa5";
$icon54-var-name-plate-male-3: "\eaa6";
$icon54-var-nativity-facade-barcelona: "\eaa7";
$icon54-var-network-app: "\eaa8";
$icon54-var-new-sticker: "\eaa9";
$icon54-var-no-air-condition: "\eaaa";
$icon54-var-no-bleaching: "\eaab";
$icon54-var-no-copyright-doc: "\eaac";
$icon54-var-no-copyright: "\eaad";
$icon54-var-no-creative-commun: "\eaae";
$icon54-var-no-cut: "\eaaf";
$icon54-var-no-dogs: "\eab0";
$icon54-var-no-fishing: "\eab1";
$icon54-var-no-food: "\eab2";
$icon54-var-no-hoist: "\eab3";
$icon54-var-no-icecream: "\eab4";
$icon54-var-no-ironing: "\eab5";
$icon54-var-no-pack-up: "\eab6";
$icon54-var-no-phone: "\eab7";
$icon54-var-no-resel: "\eab8";
$icon54-var-no-resell-doc: "\eab9";
$icon54-var-no-shower: "\eaba";
$icon54-var-no-smoking: "\eabb";
$icon54-var-no-step: "\eabc";
$icon54-var-no-stream: "\eabd";
$icon54-var-no-swimming: "\eabe";
$icon54-var-no-touch: "\eabf";
$icon54-var-no-wet-ironing: "\eac0";
$icon54-var-no-wetting: "\eac1";
$icon54-var-nophoto: "\eac2";
$icon54-var-not-arrived: "\eac3";
$icon54-var-not-departed: "\eac4";
$icon54-var-not-drinking-water: "\eac5";
$icon54-var-not-loud: "\eac6";
$icon54-var-nuclear-reactor: "\eac7";
$icon54-var-nuclear: "\eac8";
$icon54-var-obelisc: "\eac9";
$icon54-var-office-1: "\eaca";
$icon54-var-office-2: "\eacb";
$icon54-var-office-3: "\eacc";
$icon54-var-office-4: "\eacd";
$icon54-var-office-5: "\eace";
$icon54-var-office-6: "\eacf";
$icon54-var-old-camera-1: "\ead0";
$icon54-var-old-camera-2: "\ead1";
$icon54-var-old-sticky-1: "\ead2";
$icon54-var-old-sticky-2: "\ead3";
$icon54-var-old-sticky-3: "\ead4";
$icon54-var-old-telephone: "\ead5";
$icon54-var-olive: "\ead6";
$icon54-var-onion: "\ead7";
$icon54-var-oscar: "\ead8";
$icon54-var-pack-up: "\ead9";
$icon54-var-pagoda-myanmar: "\eada";
$icon54-var-pagoda: "\eadb";
$icon54-var-paifang-china: "\eadc";
$icon54-var-paint-brush: "\eadd";
$icon54-var-paint-bucket: "\eade";
$icon54-var-paint-roller: "\eadf";
$icon54-var-palm-tree: "\eae0";
$icon54-var-pantheon: "\eae1";
$icon54-var-papaya: "\eae2";
$icon54-var-park: "\eae3";
$icon54-var-party-glasses: "\eae4";
$icon54-var-passport: "\eae5";
$icon54-var-pawn-1: "\eae6";
$icon54-var-pawn-2: "\eae7";
$icon54-var-pay-doc: "\eae8";
$icon54-var-pea: "\eae9";
$icon54-var-peach-1: "\eaea";
$icon54-var-peach-2: "\eaeb";
$icon54-var-peanut: "\eaec";
$icon54-var-pear: "\eaed";
$icon54-var-pecan: "\eaee";
$icon54-var-pentagon: "\eaef";
$icon54-var-pepper: "\eaf0";
$icon54-var-personal-award-badge: "\eaf1";
$icon54-var-personal-heart: "\eaf2";
$icon54-var-personal-use: "\eaf3";
$icon54-var-pesronal-use-doc: "\eaf4";
$icon54-var-phone-user: "\eaf5";
$icon54-var-php-1: "\eaf6";
$icon54-var-php-2: "\eaf7";
$icon54-var-pin-app: "\eaf8";
$icon54-var-pipe-1: "\eaf9";
$icon54-var-pipe-2: "\eafa";
$icon54-var-pisa: "\eafb";
$icon54-var-pistachio: "\eafc";
$icon54-var-playground: "\eafd";
$icon54-var-pliers: "\eafe";
$icon54-var-plugin: "\eaff";
$icon54-var-plum: "\eb00";
$icon54-var-pocket-watch: "\eb01";
$icon54-var-podium: "\eb02";
$icon54-var-police: "\eb03";
$icon54-var-pomegranate: "\eb04";
$icon54-var-port: "\eb05";
$icon54-var-portrait-frame: "\eb06";
$icon54-var-post-it: "\eb07";
$icon54-var-post-office: "\eb08";
$icon54-var-potato: "\eb09";
$icon54-var-presentation-1: "\eb0a";
$icon54-var-presentation-2: "\eb0b";
$icon54-var-presentation-3: "\eb0c";
$icon54-var-preview-pane: "\eb0d";
$icon54-var-profile-app: "\eb0e";
$icon54-var-profile-cardiograph: "\eb0f";
$icon54-var-profile-economy: "\eb10";
$icon54-var-profile-favourites: "\eb11";
$icon54-var-profile-head: "\eb12";
$icon54-var-profile-history: "\eb13";
$icon54-var-profile-lightbulb: "\eb14";
$icon54-var-profile-music: "\eb15";
$icon54-var-profile-settings: "\eb16";
$icon54-var-profile-star: "\eb17";
$icon54-var-profile-voltage: "\eb18";
$icon54-var-profile: "\eb19";
$icon54-var-programing: "\eb1a";
$icon54-var-property-rights: "\eb1b";
$icon54-var-public-app: "\eb1c";
$icon54-var-public-domain: "\eb1d";
$icon54-var-pumpkin: "\eb1e";
$icon54-var-puond-app: "\eb1f";
$icon54-var-queen-1: "\eb20";
$icon54-var-queen-2: "\eb21";
$icon54-var-question-app: "\eb22";
$icon54-var-radio: "\eb23";
$icon54-var-radish: "\eb24";
$icon54-var-raspberry: "\eb25";
$icon54-var-razor-blade: "\eb26";
$icon54-var-razor: "\eb27";
$icon54-var-recording-app: "\eb28";
$icon54-var-rectangle-star: "\eb29";
$icon54-var-refresh-app: "\eb2a";
$icon54-var-registered-mark: "\eb2b";
$icon54-var-reload-app: "\eb2c";
$icon54-var-remouve-app: "\eb2d";
$icon54-var-remouve-rating: "\eb2e";
$icon54-var-remove-award-badge: "\eb2f";
$icon54-var-remove-heart: "\eb30";
$icon54-var-restore: "\eb31";
$icon54-var-retina-scann-app: "\eb32";
$icon54-var-retro-perfume: "\eb33";
$icon54-var-rialto-venice: "\eb34";
$icon54-var-ribbon: "\eb35";
$icon54-var-right-sidebar: "\eb36";
$icon54-var-rio-de-jan: "\eb37";
$icon54-var-road-roller: "\eb38";
$icon54-var-rode-signe: "\eb39";
$icon54-var-rook-1: "\eb3a";
$icon54-var-rook-2: "\eb3b";
$icon54-var-route-66: "\eb3c";
$icon54-var-rudder: "\eb3d";
$icon54-var-sailboat: "\eb3e";
$icon54-var-sate-sticker: "\eb3f";
$icon54-var-saw: "\eb40";
$icon54-var-school: "\eb41";
$icon54-var-scissors: "\eb42";
$icon54-var-search-app-1: "\eb43";
$icon54-var-search-app-2: "\eb44";
$icon54-var-search-code: "\eb45";
$icon54-var-search-female: "\eb46";
$icon54-var-search-male: "\eb47";
$icon54-var-search-within-app: "\eb48";
$icon54-var-searching-group: "\eb49";
$icon54-var-security-gate: "\eb4a";
$icon54-var-sfinx: "\eb4b";
$icon54-var-shanghai-tv-tower: "\eb4c";
$icon54-var-share-app-1: "\eb4d";
$icon54-var-share-app: "\eb4e";
$icon54-var-share-with-group: "\eb4f";
$icon54-var-sharring-rights: "\eb50";
$icon54-var-shaving-brush: "\eb51";
$icon54-var-sherif-star: "\eb52";
$icon54-var-shoe-1: "\eb53";
$icon54-var-shoe-2: "\eb54";
$icon54-var-shop-rating: "\eb55";
$icon54-var-shop: "\eb56";
$icon54-var-shovel: "\eb57";
$icon54-var-signpost: "\eb58";
$icon54-var-sillence: "\eb59";
$icon54-var-single-female: "\eb5a";
$icon54-var-single-male: "\eb5b";
$icon54-var-ski: "\eb5c";
$icon54-var-sleeping-bag: "\eb5d";
$icon54-var-small-icons-view: "\eb5e";
$icon54-var-smoking-area: "\eb5f";
$icon54-var-social-media: "\eb60";
$icon54-var-space-needle-seattle: "\eb61";
$icon54-var-speach-bubble-1: "\eb62";
$icon54-var-speach-bubble-2: "\eb63";
$icon54-var-speach-bubble-3: "\eb64";
$icon54-var-speach-bubble-4: "\eb65";
$icon54-var-speach-bubble-5: "\eb66";
$icon54-var-speach-bubble-6: "\eb67";
$icon54-var-speach-bubble-7: "\eb68";
$icon54-var-speach-bubble-8: "\eb69";
$icon54-var-speach-bubble-9: "\eb6a";
$icon54-var-speach-bubble-10: "\eb6b";
$icon54-var-speach-bubble-11: "\eb6c";
$icon54-var-speach-bubbles-1: "\eb6d";
$icon54-var-speach-bubbles-2: "\eb6e";
$icon54-var-speach-bubbles-3: "\eb6f";
$icon54-var-speach-bubbles-5: "\eb70";
$icon54-var-speach-bubbles-6: "\eb71";
$icon54-var-speach-bubbles-7: "\eb72";
$icon54-var-speach-bubbles-8: "\eb73";
$icon54-var-speach-bubbles-9: "\eb74";
$icon54-var-speach-bubbles-10: "\eb75";
$icon54-var-speach-bubbles-11: "\eb76";
$icon54-var-speach-bubbles-12: "\eb77";
$icon54-var-speash-bubbles-4: "\eb78";
$icon54-var-speech: "\eb79";
$icon54-var-spinach: "\eb7a";
$icon54-var-st-petersburg: "\eb7b";
$icon54-var-stadium: "\eb7c";
$icon54-var-stairs-down: "\eb7d";
$icon54-var-stairs-up: "\eb7e";
$icon54-var-standing-position: "\eb7f";
$icon54-var-star-bookmark: "\eb80";
$icon54-var-star-flag: "\eb81";
$icon54-var-star-shield-1: "\eb82";
$icon54-var-star-shield-2: "\eb83";
$icon54-var-star-user: "\eb84";
$icon54-var-stonehenge: "\eb85";
$icon54-var-storage: "\eb86";
$icon54-var-strawberry: "\eb87";
$icon54-var-suitcase: "\eb88";
$icon54-var-sunflower-seed: "\eb89";
$icon54-var-sunshade: "\eb8a";
$icon54-var-super-bowl-cup: "\eb8b";
$icon54-var-surfboard: "\eb8c";
$icon54-var-surveillance: "\eb8d";
$icon54-var-suspenders: "\eb8e";
$icon54-var-sweet-potato: "\eb8f";
$icon54-var-switch-app: "\eb90";
$icon54-var-switch-males: "\eb91";
$icon54-var-sydney: "\eb92";
$icon54-var-synagogue: "\eb93";
$icon54-var-tablet-user: "\eb94";
$icon54-var-taj-mahal: "\eb95";
$icon54-var-targeted-head: "\eb96";
$icon54-var-task-manager: "\eb97";
$icon54-var-telephone: "\eb98";
$icon54-var-tent: "\eb99";
$icon54-var-text-editor: "\eb9a";
$icon54-var-theater: "\eb9b";
$icon54-var-theme: "\eb9c";
$icon54-var-ticket: "\eb9d";
$icon54-var-tie-1: "\eb9e";
$icon54-var-tie-2: "\eb9f";
$icon54-var-tie-3: "\eba0";
$icon54-var-tie-4: "\eba1";
$icon54-var-tiles-view: "\eba2";
$icon54-var-time-app: "\eba3";
$icon54-var-timed-rating: "\eba4";
$icon54-var-tomato: "\eba5";
$icon54-var-tower-bridge: "\eba6";
$icon54-var-trade-mark: "\eba7";
$icon54-var-trafic-cone: "\eba8";
$icon54-var-translate: "\eba9";
$icon54-var-trash: "\ebaa";
$icon54-var-tree-grid: "\ebab";
$icon54-var-tree-view-2: "\ebac";
$icon54-var-tree-view-3: "\ebad";
$icon54-var-tree-view: "\ebae";
$icon54-var-triangle-ruler: "\ebaf";
$icon54-var-trowel-and-brick: "\ebb0";
$icon54-var-trowel-and-wall: "\ebb1";
$icon54-var-truck-1: "\ebb2";
$icon54-var-turin: "\ebb3";
$icon54-var-two-females-1: "\ebb4";
$icon54-var-two-males-1: "\ebb5";
$icon54-var-tyle: "\ebb6";
$icon54-var-uefa-euro-cup: "\ebb7";
$icon54-var-umbrella: "\ebb8";
$icon54-var-uninstal-app: "\ebb9";
$icon54-var-university: "\ebba";
$icon54-var-upload-app: "\ebbb";
$icon54-var-upload: "\ebbc";
$icon54-var-user-app: "\ebbd";
$icon54-var-user-budget: "\ebbe";
$icon54-var-user-calendar: "\ebbf";
$icon54-var-user-cloud: "\ebc0";
$icon54-var-user-cup: "\ebc1";
$icon54-var-user-database: "\ebc2";
$icon54-var-user-fingerprint: "\ebc3";
$icon54-var-user-flowchart: "\ebc4";
$icon54-var-user-geometry: "\ebc5";
$icon54-var-user-hierarchy: "\ebc6";
$icon54-var-user-mail: "\ebc7";
$icon54-var-user-password: "\ebc8";
$icon54-var-user-path: "\ebc9";
$icon54-var-user-place: "\ebca";
$icon54-var-user-rating: "\ebcb";
$icon54-var-user-security-card: "\ebcc";
$icon54-var-user-security-female: "\ebcd";
$icon54-var-user-security-male: "\ebce";
$icon54-var-user-settings: "\ebcf";
$icon54-var-user-store: "\ebd0";
$icon54-var-user-target: "\ebd1";
$icon54-var-vector-app: "\ebd2";
$icon54-var-vest: "\ebd3";
$icon54-var-victory: "\ebd4";
$icon54-var-video-app-1: "\ebd5";
$icon54-var-video-app-2: "\ebd6";
$icon54-var-vip-star: "\ebd7";
$icon54-var-vote-2: "\ebd8";
$icon54-var-vote-3: "\ebd9";
$icon54-var-vote-4: "\ebda";
$icon54-var-vote-stamp-2: "\ebdb";
$icon54-var-vote-stamp: "\ebdc";
$icon54-var-vote: "\ebdd";
$icon54-var-voted: "\ebde";
$icon54-var-waiting-app: "\ebdf";
$icon54-var-waiting-award-badge: "\ebe0";
$icon54-var-waiting-room: "\ebe1";
$icon54-var-washing-1: "\ebe2";
$icon54-var-washing-2: "\ebe3";
$icon54-var-washing-3: "\ebe4";
$icon54-var-watch-1: "\ebe5";
$icon54-var-watch-2: "\ebe6";
$icon54-var-wet-ironing: "\ebe7";
$icon54-var-white-house: "\ebe8";
$icon54-var-white-radish: "\ebe9";
$icon54-var-windmill: "\ebea";
$icon54-var-wing-star: "\ebeb";
$icon54-var-woman: "\ebec";
$icon54-var-womens-collar: "\ebed";
$icon54-var-worlld-cup: "\ebee";
$icon54-var-wrench-tool: "\ebef";
$icon54-var-writing-group: "\ebf0";
$icon54-var-www-doc: "\ebf1";
$icon54-var-xml-1: "\ebf2";
$icon54-var-xml-2: "\ebf3";
$icon54-var-yacht: "\ebf4";
$icon54-var-zeppelin: "\ebf5";
$icon54-var-zucchini: "\ebf6";
$icon54-var-d-file: "\ebf7";
$icon54-var-ds: "\ebf8";
$icon54-var-add-house: "\ebf9";
$icon54-var-add-note: "\ebfa";
$icon54-var-add-post-it: "\ebfb";
$icon54-var-add-task: "\ebfc";
$icon54-var-atach-post-it: "\ebfd";
$icon54-var-atention-note: "\ebfe";
$icon54-var-atention-task: "\ebff";
$icon54-var-attache-note: "\ec00";
$icon54-var-attache-task: "\ec01";
$icon54-var-attention-house: "\ec02";
$icon54-var-attention-post-it: "\ec03";
$icon54-var-bad-1: "\ec04";
$icon54-var-bad-2: "\ec05";
$icon54-var-bad-3: "\ec06";
$icon54-var-bad-4: "\ec07";
$icon54-var-basic-shape-2: "\ec08";
$icon54-var-basic-shape: "\ec09";
$icon54-var-bathroom-cabinet-1: "\ec0a";
$icon54-var-batroom-cabinet-2: "\ec0b";
$icon54-var-bench: "\ec0c";
$icon54-var-brick-gouse: "\ec0d";
$icon54-var-cabinet-1: "\ec0e";
$icon54-var-cabinet-2: "\ec0f";
$icon54-var-cabinet-3: "\ec10";
$icon54-var-cabinet-4: "\ec11";
$icon54-var-cabinet-5: "\ec12";
$icon54-var-chair-1: "\ec13";
$icon54-var-chair-2: "\ec14";
$icon54-var-chair-3: "\ec15";
$icon54-var-change-house: "\ec16";
$icon54-var-circle: "\ec17";
$icon54-var-clear-house: "\ec18";
$icon54-var-clear-note: "\ec19";
$icon54-var-clear-post-it: "\ec1a";
$icon54-var-clear-task: "\ec1b";
$icon54-var-clipboard-pencil: "\ec1c";
$icon54-var-clipboard2: "\ec1d";
$icon54-var-cliped-post-it: "\ec1e";
$icon54-var-cone-2: "\ec1f";
$icon54-var-cone-3: "\ec20";
$icon54-var-cone: "\ec21";
$icon54-var-corel-file: "\ec22";
$icon54-var-couch-1: "\ec23";
$icon54-var-couch-2: "\ec24";
$icon54-var-couch-3: "\ec25";
$icon54-var-cube-2: "\ec26";
$icon54-var-cube-3: "\ec27";
$icon54-var-cube: "\ec28";
$icon54-var-cylinder-2: "\ec29";
$icon54-var-cylinder-3: "\ec2a";
$icon54-var-cylinder: "\ec2b";
$icon54-var-dekaeder-2: "\ec2c";
$icon54-var-dekaeder-3: "\ec2d";
$icon54-var-dekaeder: "\ec2e";
$icon54-var-delete-note: "\ec2f";
$icon54-var-delete-post-it: "\ec30";
$icon54-var-delete-task: "\ec31";
$icon54-var-design-document: "\ec32";
$icon54-var-dodekaeder-1: "\ec33";
$icon54-var-dodekaeder-2: "\ec34";
$icon54-var-dodekaeder-3: "\ec35";
$icon54-var-dodekaeder-4: "\ec36";
$icon54-var-dollar-house: "\ec37";
$icon54-var-done-house: "\ec38";
$icon54-var-done-note: "\ec39";
$icon54-var-done-post-it: "\ec3a";
$icon54-var-done-task: "\ec3b";
$icon54-var-download-note: "\ec3c";
$icon54-var-download-post-it: "\ec3d";
$icon54-var-download-task: "\ec3e";
$icon54-var-dream-house: "\ec3f";
$icon54-var-dwg: "\ec40";
$icon54-var-dxf: "\ec41";
$icon54-var-eco-house: "\ec42";
$icon54-var-edit-note: "\ec43";
$icon54-var-edit-post-it: "\ec44";
$icon54-var-edit-task: "\ec45";
$icon54-var-emf: "\ec46";
$icon54-var-eps: "\ec47";
$icon54-var-euro-house: "\ec48";
$icon54-var-favorite-house: "\ec49";
$icon54-var-fence: "\ec4a";
$icon54-var-for-rent: "\ec4b";
$icon54-var-for-sale: "\ec4c";
$icon54-var-garage: "\ec4d";
$icon54-var-garden: "\ec4e";
$icon54-var-globe-house: "\ec4f";
$icon54-var-hexaeder-1: "\ec50";
$icon54-var-hexaeder-2: "\ec51";
$icon54-var-hexaeder-3: "\ec52";
$icon54-var-hexaeder: "\ec53";
$icon54-var-hexagon: "\ec54";
$icon54-var-hexagonal-cone-2: "\ec55";
$icon54-var-hexagonal-cone-3: "\ec56";
$icon54-var-hexagonal-cone: "\ec57";
$icon54-var-hexagonal-cylinder-2: "\ec58";
$icon54-var-hexagonal-cylinder-3: "\ec59";
$icon54-var-hexagonal-cylinder: "\ec5a";
$icon54-var-house-12: "\ec5b";
$icon54-var-house-22: "\ec5c";
$icon54-var-house-care: "\ec5d";
$icon54-var-house-delay: "\ec5e";
$icon54-var-house-dimensions: "\ec5f";
$icon54-var-house-discount: "\ec60";
$icon54-var-house-insurance: "\ec61";
$icon54-var-house-key-2: "\ec62";
$icon54-var-house-key-3: "\ec63";
$icon54-var-house-key: "\ec64";
$icon54-var-house-location: "\ec65";
$icon54-var-ikosaeder-2: "\ec66";
$icon54-var-ikosaeder: "\ec67";
$icon54-var-illustrator-file: "\ec68";
$icon54-var-indesign: "\ec69";
$icon54-var-key-hold: "\ec6a";
$icon54-var-lamp-1: "\ec6b";
$icon54-var-lamp-2: "\ec6c";
$icon54-var-lamp-3: "\ec6d";
$icon54-var-layer-43: "\ec6e";
$icon54-var-mail-note: "\ec6f";
$icon54-var-mail-post-it: "\ec70";
$icon54-var-mail-task: "\ec71";
$icon54-var-max: "\ec72";
$icon54-var-mirror-1: "\ec73";
$icon54-var-mirror-2: "\ec74";
$icon54-var-note-1: "\ec75";
$icon54-var-note-2: "\ec76";
$icon54-var-note-book-1: "\ec77";
$icon54-var-note-book-2: "\ec78";
$icon54-var-note-pencil-1: "\ec79";
$icon54-var-note-pencil-2: "\ec7a";
$icon54-var-notebook-3: "\ec7b";
$icon54-var-octaeder-2: "\ec7c";
$icon54-var-octaeder-3: "\ec7d";
$icon54-var-octaeder: "\ec7e";
$icon54-var-office-building: "\ec7f";
$icon54-var-office-chair: "\ec80";
$icon54-var-office-desk-2: "\ec81";
$icon54-var-office-desk: "\ec82";
$icon54-var-otf: "\ec83";
$icon54-var-pentagonal-cone-2: "\ec84";
$icon54-var-pentagonal-cone-3: "\ec85";
$icon54-var-pentagonal-cone: "\ec86";
$icon54-var-pentagonal-cylinder-2: "\ec87";
$icon54-var-pentagonal-cylinder-3: "\ec88";
$icon54-var-pentagonal-cylinder: "\ec89";
$icon54-var-personal-note: "\ec8a";
$icon54-var-personal-post-it: "\ec8b";
$icon54-var-personal-task: "\ec8c";
$icon54-var-photoshop: "\ec8d";
$icon54-var-pined-post-it: "\ec8e";
$icon54-var-piramid-2: "\ec8f";
$icon54-var-piramid-3: "\ec90";
$icon54-var-piramyd-1: "\ec91";
$icon54-var-post-it-block: "\ec92";
$icon54-var-post-it-pencil: "\ec93";
$icon54-var-post-it-settings: "\ec94";
$icon54-var-pound-house: "\ec95";
$icon54-var-question-house: "\ec96";
$icon54-var-question-note: "\ec97";
$icon54-var-question-post-it: "\ec98";
$icon54-var-question-task: "\ec99";
$icon54-var-qxd: "\ec9a";
$icon54-var-rectangle-2: "\ec9b";
$icon54-var-rectangle: "\ec9c";
$icon54-var-remouve-house: "\ec9d";
$icon54-var-remouve-note: "\ec9e";
$icon54-var-remouve-post-it: "\ec9f";
$icon54-var-remouve-task: "\eca0";
$icon54-var-rent-hanger: "\eca1";
$icon54-var-rent-sale-sign: "\eca2";
$icon54-var-rent-sign-2: "\eca3";
$icon54-var-rent-sign: "\eca4";
$icon54-var-sale-hanger: "\eca5";
$icon54-var-sale-sign-2: "\eca6";
$icon54-var-sale-sign: "\eca7";
$icon54-var-search-house-2: "\eca8";
$icon54-var-search-house: "\eca9";
$icon54-var-search-note: "\ecaa";
$icon54-var-search-post-it: "\ecab";
$icon54-var-search-task: "\ecac";
$icon54-var-secure-house: "\ecad";
$icon54-var-setting-house: "\ecae";
$icon54-var-settings-note: "\ecaf";
$icon54-var-shape-file-2: "\ecb0";
$icon54-var-shape-file: "\ecb1";
$icon54-var-share-note: "\ecb2";
$icon54-var-share-post-it: "\ecb3";
$icon54-var-share-task: "\ecb4";
$icon54-var-sofa-1: "\ecb5";
$icon54-var-sofa-2: "\ecb6";
$icon54-var-sofa-3: "\ecb7";
$icon54-var-sold-hanger: "\ecb8";
$icon54-var-sold-sign-2: "\ecb9";
$icon54-var-sold-sign: "\ecba";
$icon54-var-sphere-2: "\ecbb";
$icon54-var-sphere-3: "\ecbc";
$icon54-var-sphere: "\ecbd";
$icon54-var-star-house: "\ecbe";
$icon54-var-storage2: "\ecbf";
$icon54-var-sttings-task: "\ecc0";
$icon54-var-svg: "\ecc1";
$icon54-var-swf: "\ecc2";
$icon54-var-table-1: "\ecc3";
$icon54-var-table-2: "\ecc4";
$icon54-var-table-3: "\ecc5";
$icon54-var-tasks-1: "\ecc6";
$icon54-var-tetraeder-2: "\ecc7";
$icon54-var-tetraeder-3: "\ecc8";
$icon54-var-tetraeder: "\ecc9";
$icon54-var-tga: "\ecca";
$icon54-var-tiff: "\eccb";
$icon54-var-triangle: "\eccc";
$icon54-var-true-type: "\eccd";
$icon54-var-ttf: "\ecce";
$icon54-var-tv-desk-2: "\eccf";
$icon54-var-tv-desk: "\ecd0";
$icon54-var-upload-note: "\ecd1";
$icon54-var-upload-post-it: "\ecd2";
$icon54-var-upload-task: "\ecd3";
$icon54-var-vector-file: "\ecd4";
$icon54-var-wardeobe-1: "\ecd5";
$icon54-var-wardrobe-2: "\ecd6";
$icon54-var-wardrobe-3: "\ecd7";
$icon54-var-wardrobe-mirror: "\ecd8";

//# fashion warn +elevation